<div class="pre-ingest-file-table">
  <a class="btn btn-primary" data-toggle="collapse" href="#files-table-<%= pre_ingest_work.id %>" role="button" aria-expanded="false" aria-controls="files-table-<%= pre_ingest_work.id %>">
    View Files
  </a>
  <table id="files-table-<%= pre_ingest_work.id %>" class="responsive collapse nowrap table table-striped works-list">
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Row Number</th>
      <th>Date Created</th>
      <th>Status</th>
    </tr>
    <% pre_ingest_work.pre_ingest_files.each do |pre_ingest_file| %>
      <tr>
        <td>
          <%= pre_ingest_file.basename %>
        </td>
        <td>
          <%= number_to_human_size(pre_ingest_file.size) %>
        </td>
        <td>
          <%= pre_ingest_file.row_number %>
        </td>
        <td>
          <%= pre_ingest_file.created_at.strftime("%B %-d, %Y %H:%M") %>
        </td>
        <td>
          <%= status(pre_ingest_file) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
