<div>
  <h3>About the Import:</h3>
  <ul>
    <li>Import created by: <%= User.find(@csv_import_detail.csv_import.user_id) %>
    </li>
    <li>CSV File: <%= @csv_import_detail.csv_import.manifest %></li>
    <li>Total Size: <%= number_to_human_size(@csv_import_detail.total_size) %></li>
  </ul>

  <h3>Works & Files</h3>

  <table id="works-table" class="table works-list">
    <tr>
      <th>Deduplication Key</th>
      <th>Title</th>
      <th>Files</th>
      <th>Date</th>
    </tr>
  <% @csv_import_detail.pre_ingest_works.each do |pre_ingest_work| %>
    <tr>
      <td>
        <%= pre_ingest_work.deduplication_key%>
      </td>
      <td>
        <%= pre_ingest_work.title %>
      </td>
      <td>
        <%= render 'pre_ingest_files_table', pre_ingest_work: pre_ingest_work %>
      </td>
      <td>
        <%= pre_ingest_work.created_at.strftime("%B %-d, %Y %H:%M") %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
