<h2>Metadata Field Guide</h2>
<div class="field-guide-intro">
  <p>
  This is a dynamically generated guide to the metadata used in this application.
  Many fields are multi-valued. To include multiple values in a single CSV cell,
  separate them with the delimiter that has been configured for this application:
  <span class="delimiter"><%= @delimiter %></span>
  </p>
  <p>
  Example:   <span class="delimiter">Value 1<%= @delimiter %>Value 2</span>
  </p>
</div>

<% content_for :title, 'Importer Field Guide' %>
<div class="guide-container">
  <a class="btn btn-primary" href="/importer_documentation/profile">Download as CSV</a>
  <div class="metadata-field-guide">
    <% @details.each do |detail| %>
      <div class="metadata-field <%= system_field(detail) %>" <%= hide_system_field(detail) %>>
        <h2 class="field-label">
          <%= detail[:label] %>
        </h2>
        <div>
          <b>Attribute:</b>
          <%= detail[:attribute] %>
        </div>
        <div>
          <b>Predicate:</b>
          <a href="<%= detail[:predicate] %>"><%= detail[:predicate] %></a>
        </div>
        <div>
          <b>Type:</b>
          <%= detail[:type] %>
        </div>
        <div>
          <b>Validation:</b>
          <%= detail[:validator] %>
        </div>
        <div>
          <b>Multiple values accepted:</b>
          <%= true_false_to_yes_no(detail[:multiple]) %>
        </div>
        <div>
          <b>Edit Form Label:</b>
          <%= detail[:label] %>
        </div>
        <div>
          <b>Import header:</b>
          <span class=<%= css_class(detail[:csv_header])%>>
            <%= detail[:csv_header] %>
          </span>
        </div>
        <div>
          <b>Required on Edit Form:</b>
          <%= true_false_to_yes_no(detail[:required_on_form]) %>
        </div>
        <div class=metadata_usage>
          <b>Usage:</b>
          <%= detail[:usage] %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
